.gradle
.idea/
lib/
target/
build/
core/conf/
prototype/service
core/test/resources/Configurations/testfile.json
prototype/core-full-1.0-SNAPSHOT.jar
prototype/core-1.0-SNAPSHOT.jar
core/db/
services/logging/db/