/**
* @author Robin Duda
*
* Polymer custom elements styling.
**/

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

paper-input {
    margin-left: 16px;
    margin-right: 16px;
}

paper-button {
    margin: 0 auto auto;
    width: 100%;
}

iron-icon {
    color: #4a148c;
    cursor: pointer;
}

iron-icon:hover {
    color: purple;
}

paper-tooltip {
    --paper-tooltip-background: black;
}

header-toolbar, footer-template {
    z-index: 10;
}

paper-toolbar {
    background-color: #000000;
}

.footer {
    background-color: #000000;
}

.interface-box {
    border: 1px solid rgba(74, 20, 140, 0.5);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.select {
    cursor: pointer;
}

.tooltip-text {
    font-size: 14px;
}

.center-box {
    position: relative;
    padding-bottom: 64px;
    margin-top: 128px;
    margin: auto;
}

[hidden] { display: none }

paper-toast {
    text-align: center;
}