doctype html
html
    title chili-core benchmarks $version
    head
        link(rel='stylesheet', href='https://bootswatch.com/superhero/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        style(type='text/css').
            .jumbotron {
            text-align: center;
            }
            .panel-heading {
            text-align: center;
            }
    body
        .jumbotron
            h1 Benchmarks
            p Benchmarks generated using $VERSION
        .panel.panel-default.col-xs-8.col-xs-offset-2
            .panel-heading $group
            .panel-body
                p $benchmarkname
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Implementation
                            th Time (ms)
                            th Max (ms)
                            th Operations/s
                            th Performance index
                    tbody
                        tr
                            td $IMPLEMENTATION
                            td $TIME
                            td $MAXTIME
                            td $OPERATIONS
                            td $PERFORMANCE
                p Parameters
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Parallelism
                            th Iterations
                    tbody
                        tr
                            td $PARALLELISM
                            td $ITERATIONS
